*{
 box-sizing: border-box;
}
body { 
  margin: 0;
}
.header {
  overflow: hidden;
  background-color: black;
  padding: 15px 10px;
}
.header a {
  float: left;
  color: silver;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px; 
  line-height: 25px;
  border-radius: 5px;
}
.header a.header-left {
  font-size: 30px;
  font-weight: bold;
}
.header a.uname{
  color:#88b4eb;
  font-weight:bold;
}
.header a.active {
  background-color: dodgerblue;
  color: #32154b;
}
.header-right {
  float: right;
}
/*making responsive*/
@media screen and (max-width: 500px) {
   
  .header-right {
    float: none;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
}
.header .logout{
  float:right;
  color:violet;
}
.divider1{
   height:3px;
   background-color:#a6a6a6;
}
body{
  background-image:url('img/background1.jpg');
  background-repeat:no-repeat;
  background-position:fixed;
  background-size:cover;
}

.menu{
  background-color:black;
  opacity:0.7;
  padding:20px;
}
.category a{
  text-decoration:none;
  color:white;
  padding:10px;
  font-size:30px;
  font-family:courier new;
  font-weight:bold;
  border-radius:10%;
}
.category a:hover{
  background-color:grey;
}
.category .veg{
  float:left;
  width:50%;
  text-align:center;
}
.category .nonveg{
  float:right;
  width:50%;
  text-align:center; 
}
.items{
  background-color:white;
  opacity:0.7;
}
.items{
  display:block;
}
table{
  border:2px solid white;
  background-color:black;
  color:white;
  width:50%;
  height:auto;
  padding:20px;
  text-align:center;
}
#th{
  padding:10px;
  font-size:30px;
  font-weight:bold;
}
td{
  padding:10px;
}
button{
  padding:10px;
  background-color:black;
  color:white;
  font-size:20px;
  font-weight:bold;
  border-radius:3px;
  border:3px solid silver;
  transition:0.2s;
  -webkit-transition:0.2s;
}
button:hover{
  border:5px solid silver;
}
.nonvegupdate{
  visibility:hidden;
}
.vegupdate{
  visibility:hidden;
}
input{
  background-color:white;
  font-color:black;
  color:white;
  font-size:20px;
}
input[type="submit"]{
  background-color:black;
  padding:10px;
  color:white;
  font-weight:bold;
  border-radius:2px;
  border:3px solid silver;
  transition:0.2s;
  -webkit-transition:0.2s;
}
input[type="submit"]:hover{
  border:5px solid silver;
}
input[type="number"]{
  width:50px;
}
.cart .items{
  background-color:white;
  opacity:0.7;
  color:white;
}


